{% extends "base.html" %}

{% block title %} Статьи {% endblock %}

{% block content %}
    <div class="container">
    {% for article in object_list %}
        <div class="article card">
            <div class="card-body">
                <h1 class="text-center">{{ article.title }}</h1>
                <p> {{ article.content.html|safe|truncatechars:200 }} </p>
                <a href="{% url 'article-detail' article.slug %}" class="btn btn-primary" >
                    Читать
                </a>
            </div>
        </div>
        <br>
    {% endfor %}
    </div>
{% endblock %}